* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(6, 13, 93, 0.735);
}

.home-section {
    position: relative;
    height: 70vh; 
    overflow: hidden;
}

.background-img{
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%; 
    height: 100%;
    z-index: -1; 
}

.home-section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    font-family: "Oswald", serif;
    font-size: 5rem;
    font-weight: 400;
    font-style: normal;
    color: rgba(6, 13, 93, 0.735);
}

.categories-container *{
    box-sizing: border-box;
}

.categories-container {
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    max-width: 100vw;
    margin-left: 10px;
    margin-right: 10px;
}

.category-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px groove #292d32c9;
    padding: 10px;
}

.category-img {
    width: 100%;
    height: 550px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.category-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
}

.category-name {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    background-color: rgba(6, 13, 93, 0.735);
}

.category-mens-bottoms img{
    margin-top: 30px;
}